#doctors {
  grid-area: doctors;
  background-color: $bleuflash;
  padding: 3rem;

  & > div {
    h3 {
      color: $blanc;
    }

    h6 {
      display: none;
    }

    & > div:nth-last-of-type(1) {
      display: flex;
      justify-content: center;
      flex-direction: column;

      @media screen and (min-width: 640px) {
        flex-direction: row;
      }

      div {
        max-width: 30rem;
        text-align: center;

        h4 {
          color: $blanc;
        }
        h6 {
          color: $blanc;
          display: inline;
        }
      }
    }
  }
}
